/* .box-model{
    width: 200px;
    height: 300px;
    margin: 20px;
    padding: 10px;
    border: 10px solid;
} */

html,
body {
  height: 100%;
}

body {
    background-color: #e9c782;
}

.box-1, 
.box-2, 
.box-3 {
    width: 300px;
    height: 200px;
    background-color: #f88;
}

.box-1 {
    /* margin: 80px; */
    /* top right bottom and left */
    /* margin: 80px 80px 80px 80px; */
    /* margin: 10px 30px 10px 30px; */
    /* margin: 10px 30px; */
    margin-top: 40px;
    margin-right: 80px;
    margin-bottom: 110px;
    margin-left: 100px;
}

