/* .box-model{
    width: 200px;
    height: 300px;
    margin: 20px;
    padding: 10px;
    border: 10px solid;
} */

html,
body {
  height: 100%;
}

.box {
  background-color: #ea6161;
  /* max-width: 700px; */
  /* min-width: 500px; */
  width: 500px;
  height: 500px;
  /* padding: 50px; */
  /* top right bottom and left */
  /*  margin and padding they go clockwise starting from top */
  /* padding: 50px 50px 50px 50px; */
  /* padding: 100px 10px 50px 80px; */
  /* padding: 30px 30px 30px 30px; */
  /* padding: 30px */
  /* padding: 25px 40px 25px 40px; */
  /* padding: 25px 40px; */
  /* padding-top: 35px;
  padding-left: 45px;
  padding-bottom: 20px;
  padding-left: 10px; */
}
